.all-contacts {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid darkcyan;
  border-radius: 5px;
}

.single-contact {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name {
  font-size: 1.2rem;
}

.user_name span {
  font-weight: 600;
}

.user_gender {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 50%;
  overflow: hidden;
}

.user_gender img {
  max-width: 90%;
}

.phone {
  font-weight: bold;
  padding-left: 10px;
}

hr {
  max-width: 50%;
  text-align: center;
}

.search {
  width: 100%;
  padding: 5px;
  outline: none;
}

.search:focus {
  border: 2px solid darkcyan;
}

.checks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 30px;
}
